<section class="tab-content {{#if tab.active}}active{{/if}}" data-tab="vehicles" data-group="primary">
  <div class="vehicles-section">

    {{!-- Rigger Stats: VCR + Control Pool --}}
    <fieldset class="rigger-stats">
      <legend>Rigger</legend>
      <div class="rigger-stats-row flexrow">
        <div class="rigger-stat">
          <label>Vehicle Control Rig</label>
          <input type="number" name="system.vehicleControlRig" value="{{system.vehicleControlRig}}" min="0" max="3" class="vcr-input" />
        </div>
        {{#if isRigger}}
        <div class="rigger-stat">
          <label>Control Pool</label>
          <div class="pool-display flexrow">
            <input type="number" name="system.dicePools.control.value" value="{{system.dicePools.control.value}}" min="0" max="{{system.dicePools.control.max}}" class="pool-input" />
            <span class="pool-max">/ {{system.dicePools.control.max}}</span>
          </div>
        </div>
        {{/if}}
      </div>
    </fieldset>

    <div class="vehicles-instructions">
      <p>Drag a Vehicle or Drone actor from the sidebar to link it.</p>
    </div>

    {{#if linkedVehicles.length}}
    <div class="vehicle-list">
      {{#each linkedVehicles as |vehicle|}}
      <div class="vehicle-card" data-vehicle-uuid="{{vehicle.uuid}}">

        {{!-- Vehicle Header --}}
        <div class="vehicle-card-header flexrow">
          <img src="{{vehicle.img}}" alt="{{vehicle.name}}" class="vehicle-portrait-thumb" />
          <div class="vehicle-card-title">
            <span class="vehicle-name">{{vehicle.name}}</span>
            <span class="vehicle-type">{{vehicle.system.vehicleType}}</span>
          </div>
          <div class="vehicle-card-controls">
            <a class="vehicle-ctrl-btn" data-action="openVehicle" title="Open Sheet">
              <i class="fas fa-external-link-alt"></i> Sheet
            </a>
            <a class="vehicle-ctrl-btn remove" data-action="unlinkVehicle" title="Remove from character">
              <i class="fas fa-times"></i> Remove
            </a>
          </div>
        </div>

        {{!-- Vehicle Stats --}}
        <div class="vehicle-stats-row flexrow">
          <span class="vehicle-stat" title="Handling">Hand: {{vehicle.system.handling}}</span>
          <span class="vehicle-stat" title="Speed">Spd: {{vehicle.system.speed}}</span>
          <span class="vehicle-stat" title="Acceleration">Acc: {{vehicle.system.acceleration}}</span>
          <span class="vehicle-stat" title="Body">Body: {{vehicle.system.body}}</span>
          <span class="vehicle-stat" title="Armor">Armor: {{vehicle.system.armor}}</span>
          <span class="vehicle-stat" title="Pilot">Pilot: {{vehicle.system.pilot}}</span>
          <span class="vehicle-stat" title="Sensor">Sensor: {{vehicle.system.sensor}}</span>
          <span class="vehicle-stat" title="Signature">Sig: {{vehicle.system.signature}}</span>
        </div>

        {{!-- Vehicle Condition Monitor --}}
        <div class="vehicle-condition">
          <div class="monitor-row flexrow">
            <span class="condition-label">Condition:</span>
            <button type="button" class="monitor-btn" data-action="decrementVehicleMonitor">−</button>
            <span class="monitor-value">{{vehicle.system.conditionMonitor.value}}</span>
            <span class="monitor-sep">/ {{vehicle.system.conditionMonitor.max}}</span>
            <button type="button" class="monitor-btn" data-action="incrementVehicleMonitor">+</button>
          </div>
          {{{conditionMonitor vehicle.system.conditionMonitor.value vehicle.system.conditionMonitor.max}}}
        </div>

        {{!-- Vehicle Weapons --}}
        {{#if vehicle.weapons.length}}
        <div class="vehicle-weapons">
          <h4>Weapons</h4>
          <div class="item-list">
            {{#each vehicle.weapons as |weapon|}}
            <div class="item-row weapon-row flexrow">
              <span class="item-name">
                <i class="fas fa-crosshairs"></i>
                {{weapon.name}}
              </span>
              <span class="weapon-type">{{weapon.system.weaponType}}</span>
              <span class="weapon-damage">{{weapon.system.damageCode}}</span>
              {{#ifEquals weapon.system.weaponType "firearm"}}
              <span class="weapon-ammo">{{weapon.system.ammo.current}}/{{weapon.system.ammo.max}}</span>
              {{/ifEquals}}
              <span class="weapon-modes">
                {{#if weapon.system.firingModes.ss}}SS {{/if}}
                {{#if weapon.system.firingModes.sa}}SA {{/if}}
                {{#if weapon.system.firingModes.bf}}BF {{/if}}
                {{#if weapon.system.firingModes.fa}}FA {{/if}}
              </span>
            </div>
            {{/each}}
          </div>
        </div>
        {{/if}}

      </div>
      {{/each}}
    </div>

    {{else}}
    <div class="vehicles-empty">
      <i class="fas fa-car fa-3x"></i>
      <p>No vehicles or drones linked.</p>
    </div>
    {{/if}}

  </div>
</section>
